body {
  margin: 0;
  padding: 0;
  font-color: #484848;
  font-size: 14px;
  font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Icon for the browser tab */
link[rel="icon"] {
  href: "images/favicon.ico";
}
